$primary_color: #FFFFFF;

body {
    font-family: 'Poppins', sans-serif;                                      
    margin: 0;
    padding: 0;
    max-width: 1920px;
    

    .main {
        background-image: url(Rectangle\ 256.png);
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        
        .main_title {
            display: flex;
            flex-direction: row;
            margin-bottom: 50px;
            width: 464px;

            .main_image {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 77px;

                .img1 {
                    height: 29px;
                    width: 75px;
                    margin-bottom: -10px;
                }
                
                .img2 {
                    height: 42px;
                    width: 50px;
                    margin-bottom: -10px;                   
                }

                .img3 {
                    height: 29px;
                    width: 75px;
                }
            }
            
            .main_text {
                color: $primary_color;
                font-weight: 800;
                display: flex;
                flex-direction: column;
                margin-top: 58px;
                margin-left: 20px;

                .text1 {
                font-size: 60px;
            }
            
                .text2 {
                    font-size: 27px;
                    margin-top: -23px;
                    letter-spacing: 6px;
                }
            }
        }
        
        .main_button {
            width: 375px;
            height: 64px;
            color: #FFFFFF;
            background: rgba(0, 0, 0, 0.5);
            border: none;
            border-radius: 59px;
            font-weight: 500;
            font-size: 18px;
            line-height: 27px;
            margin-bottom: 10px;
            padding: 19px 48px 19px 48px;

            &:hover {
                background-color: black;
            }
        }

        .title {
            margin: 0;
            display: flex;
            text-align: center;
            color: #FFFFFF;
            font-weight: 900;
            font-size: 144px;
            line-height: 134px;
            text-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
            margin-bottom: 100px;
        }
        
        .help_button {
            background-color: rgba(255, 255, 255, 1);
            color: #48924F;
            box-shadow: rgba(16, 51, 30, 0.5);
            background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #F9F9F9 100%);
            border-radius: 35px;
            width: 180px;
            height: 70px;
            font-weight: 700;
            font-size: 18px;
            line-height: 27px;
            border: none;
            margin-bottom: 116px;

            &:hover {
                box-shadow: 10px;
                width: 250px;
                transition: width .5s linear;
            }
        }
    }

    .second_container {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;

        .service {

        .services {
            margin-top: 70px;
            margin-bottom: 0;
            color: rgba(130, 130, 130, 1);
            font-weight: 800;
            font-size: 64px;
            line-height: 96px;
            display: flex;
            justify-content: center;
        }

        .vector {
            display: flex;
            justify-content: start;
            margin-top: -50px;
        }
        }
        .container_png {
            display: flex;
            flex-direction: row;
            
            
            
            .container1 {
                background: #FFFFFF;
                box-shadow: 0px 10px 30px rgba(16, 51, 30, 0.1);
                border-radius: 30px;
                width: 385px;
                height: 504px;

                .head5 {
                    color: #0D4D14;
                    font-weight: 900;
                    font-size: 16px;
                    line-height: 24px;
                    margin: 30px 30px 10px 30px;
                }

                .paragraph1 {
                    color: #0D4D14;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    padding: 0px 30px 30px 30px;
                }
            }

            .container2 {
                background: #FFFFFF;
                box-shadow: 0px 10px 30px rgba(16, 51, 30, 0.1);
                border-radius: 30px;
                width: 385px;
                height: 504px;
                margin: 0px 22px 50px 22px;

                .head5 {
                    color: #0D4D14;
                    font-weight: 900;
                    font-size: 16px;
                    line-height: 24px;
                    margin: 30px 30px 10px 30px;
                }

                .paragraph1 {
                    color: #0D4D14;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    padding: 0px 30px 30px 30px;
                }
            }

            .container3 {
                background: #FFFFFF;
                box-shadow: 0px 10px 30px rgba(16, 51, 30, 0.1);
                border-radius: 30px;
                width: 385px;
                height: 504px;

                .head5 {
                    color: #0D4D14;
                    font-weight: 900;
                    font-size: 16px;
                    line-height: 24px;
                    margin: 30px 30px 10px 30px;
                }

                .paragraph1 {
                    color: #0D4D14;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    padding: 0px 30px 30px 30px;
                }
            }
        }

        .help_button2 {
            padding: 0;
            background-color: rgba(255, 255, 255, 1);
            color: #48924F;
            background: #FFFFFF;
            box-shadow: 0px 16px 30px rgba(50, 175, 100, 0.15);
            border-radius: 35px;
            width: 180px;
            height: 70px;
            font-weight: 700;
            font-size: 18px;
            line-height: 27px;
            border: none;
            margin-bottom: 70px;

            &:hover {
                background-color: black;
                box-shadow: 10px;
                width: 250px;
                transition: width .5s linear;
            }
        }
        .about_us {
            
            .about {
                margin: 0;
                font-weight: 800;
                font-size: 64px;
                line-height: 96px;
                color: #828282;
                display: flex;
                justify-content: center;
            }

            .svg2 {
                display: flex;
                justify-content: end;
                margin-top: -50px;
                margin-left: 280px;
            }
        }
        
    }
}